

.mandogifheader {
height: 90px;
width: 120px;
margin: auto;

}

.menunav {
 font-family: avenir;
height: 18px;
width: 200px;
float: right;
margin-top: -70px;
text-align: center;
font-size: 10px;

}

body {
 font-family: avenir;
  margin: 10px;
  /*height: 100%;*/
  background-color: black;


}



.contacttext{
 font-family: avenir;
  margin: auto;
  width: 150px;
  height: 20px;
  padding: 10px;


}


ul {
 font-family: avenir;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

li{
 
  display: inline-block;
  font-family: avenir;
  color: #FF6356;
  font-size:10px;

}

mark.current {
 font-family: avenir;
  color: #FF0087;
  background-color: transparent;
  font-weight: bold;
}

  mark.one {
   font-family: avenir;
    color: #8B00FF;
    background-color: transparent;
    font-weight: bold;
  }

  mark.two {
   font-family: avenir;
    color: #00F6FF;
    background-color: transparent;
    font-weight: bold;
  }

  mark.three {
   font-family: avenir;
    color: #B1FF00;
    background-color: transparent;
    font-weight: bold;
  }

  mark.four {

   font-family: avenir;
   color: white;
   background-color: transparent;
   font-size: 15px;
   text-decoration: none;
   font-weight: bold;
   margin: auto;
   width: 100px;
   height: 20px;
   padding: 10px;

  }

  a:link {
   font-family: avenir;
    text-decoration: none;
    color: white;
  }


.name{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 500px;
 
}

.about-image {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  margin-left: 200px;
  width: 300px;
  height: 300px;
 object-fill: contain;
}

.about {
  position: relative;
  left: 60px;
  height: auto;
  width: auto;
}


p{
font-family: avenir;
color: white;
left: 183px;
}

img{
max-width: 100%;
height: auto;

}

div.gallery{
  margin-top: 45px;
  width: 100%;
  text-align: center;
}

.column img {
    width: 600;
    height: auto;
    object-fit: contain;
    margin: 10px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}


@media only screen and (max-width: 600px) {

  .mandogifheader {
  margin-left: 0px;
  }

 .column img {
      width: 400;

}



}

