@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Work+Sans&display=swap');

body {
 /* background-image: url("https://davidnwilsonsandbox.files.wordpress.com/2021/10/index-gif-short1.gif");
 background-position: center;
 background-repeat: no-repeat; 
 background-size: cover; */
background-color: black
}



div.title {
  font-family: 'Avenir';
  color: white;
  font-size: 37.5px;
  border: solid;
  border-color: white;
  width: 465px;
}

div.subtitle {
  font-family: 'Avenir';
  color: white;
  font-size: 20px;
  left: 183px;
  border: solid;
  border-color: green;
}

div.menu {
  position: relative;
  left: 193px;
  font-family: 'Avenir';
  background-color: white;
  color: purple;
  border: solid;
  border-color: white;
  width: 272px;
}

div.index-description {
  font-family: 'Avenir';
  color: white;
  background-color: orange;
  width: 400px;
  font-size: 20px;
  border: solid;
  border-color: red;
}

div.stu-container {
  width: 1050px;
  border: solid;
  border-color: orange;

}

div.student {
	  vertical-align: top;
	  display: inline-block;
	  /*left: auto; added this*/
	  margin: 10px;
	  width: 295px;
    height: auto;
	  text-align: left;
	  font-family: 'Avenir';
	  font-size: 14px;
    background-color: orange;
    color: white;
    padding: 10px;
}

div.about {
  position: relative;
  left: 193px;
  font-family: 'Avenir';
  color: white;
  background-color: orange;
  width: 272px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.research {
  position: relative;
  font-family: 'Avenir';
  color: orange;
  background-color: white;
  width: 465px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.examples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: 510px;
  height: auto;
  background-color: white;
  color: white;
  padding: 10px;
}

body {
  background-color: black;
}

mark.one {
  color: red;
  background-color: white;
}

mark.two {
  color: white;
  background-color: orange;
}

mark.three {
  color: white;
  background-color: red;
}

mark.current {
  color: white;
  background-color: black;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


a:link {
  text-decoration: none;
  color: purple;
}

a:link.two {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

img {
  object-fit: cover;
}

img.one {
  width: 290px;
  height: 290px;
  border: solid 1px;
  border-color: grey;
}

img.two {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

img.three {
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 0px;
  border: solid 1px;
  border-color: purple;
}

/* amanda styling */
div.Atext {
  margin: 10px;
  font-family: 'Oxygen';
  color: white;
  width: 600px;
}

div.amandaexamples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: auto;
  height: auto;
  background-color: white;
  color: white;
  padding: 10px;
}

img.amanda1 {
  width: 773px;
  height: 500px;
  padding: 4px;
  margin: 4px;
  border: solid 1px;
  border-color: purple;
}

img.amanda2 {
  width: 889px;
  height: 500px;
  padding: 4px;
  margin: 4px;
  border: solid 1px;
  border-color: purple;
}

img.amanda3 {
  width: 500px;
  height: 500px;
  padding: 4px;
  margin: 0px;
  border: solid 1px;
  border-color: purple;
}
/* end of amanda styling*/

/* responsive styling for mobile browsing */

/* when screen is 600px or less apply changes */
@media only screen and (max-width: 600px) {
  
  /* remove .gif background set background color to purple */
  body {
    background-image: none !important;	  
    background-color: purple !important;
  }
	
}





